<div class="container">
  <h1>Add Employee</h1>

  <div class="row" style="margin-top: 30px;">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">FirstName</label>
        <input [(ngModel)]="empFirstName" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">LastName</label>
        <input [(ngModel)]="empLastName" type="text" class="form-control">
      </div>
    </div>
  </div> 
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Password</label>
        <input [(ngModel)]="password" type="text" class="form-control">
      </div>
    </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Role</label>
        <input [(ngModel)]="role" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Address</label>
        <input [(ngModel)]="address" type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">UID</label>
        <input [(ngModel)]="empUID" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Date of Joining</label>
        <input [(ngModel)]="dateOfJoining" type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Mobile No</label>
        <input [(ngModel)]="mobileNo" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Email Id</label>
        <input [(ngModel)]="emailId" type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button (click)="onAdd()" class="btn btn-success">Add</button>

      <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px">Cancel</button>
    </div>
  </div>
</div>
