<div class="container">
  <h1>{{selectedEmployee.empFirstName}} {{selectedEmployee.empLastName}} </h1>


  <div style="margin-top: 30px;"><strong>Role: </strong> {{selectedEmployee.role}}</div>
  <div><strong>Address: </strong> {{selectedEmployee.address}}</div>
  <div><strong>UID: </strong> {{selectedEmployee.empUID}}</div>
  <div><strong>Date of Joining: </strong> {{selectedEmployee.dateOfJoining}}</div>
  <div><strong>Mobile No: </strong> {{selectedEmployee.mobileNo}}</div>
  <div><strong>Email Id: </strong> {{selectedEmployee.emailId}}</div>
  


</div>
