
<div class="container" *ngIf="isVisible==0" >
  <form action="action_page.php">

    <label for="fname">Name</label>
    <input [(ngModel)]="name" type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Email</label>
    <input [(ngModel)]="email" type="text" id="email" name="email" placeholder="Your emailId..">

    <label for="review">Select Review</label>
    <select [(ngModel)]="review" id="review" name="review">
      <option value="bad">BAD</option>
      <option value="good">Good</option>
      <option value="best">BEST</option>
    </select>

    <label for="subject">Subject</label>
    <textarea [(ngModel)]="comments" id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input (click)="saveFeedback()" type="submit" value="Submit">

  </form>
</div>  



    <table class="table table-hover" >
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Review</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feedback of feedbacks" >
          <td>{{feedback.name}}</td>
          <td>{{feedback.email}}</td>
          <td>{{feedback.review}}</td>
          <td>{{feedback.comments}}</td>
        </tr>

      </tbody>     
    </table>

