.input-mob{
    width: 30%;
}
to me
table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: rgb(189, 201, 187); 
  }
  h2
  {
    background: rgb(231, 225, 225); 
    color: white; 
    font-weight: bold; 
    text-align: center;
  }
  h1
  {
      text-align: center;
  }
  
  th { 
    background: rgb(121, 115, 115); 
    color: rgb(255, 255, 255); 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid rgb(139, 131, 131); 
    text-align: left; 
  }