<h1>List Of All Customers</h1>
 <table class="table table-hover">
  <thead>
    <tr>
      <th>Customer Id</th>
      <th>Customer First Name</th>
      <th>Customer Last Name</th>
      <th>Customer Mobile Number</th>
      <th>Customer Email Id</th>
      <th>Customer Pan Id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of Customers">
      <td>{{customer.custId}}</td>
      <td>{{customer.custFirstName}}</td>
      <td>{{customer.custLastName}}</td>
      <td>{{customer.custMobile}}</td>
      <td>{{customer.custEmail}}</td>
      <td>{{customer.custPan}}</td>
    </tr>
  </tbody>

</table> 