<div class="col-md-12">
  <div *ngIf="isVisible==0">
      <h1>List Of All Inventory</h1>
    <td><input type="button" (click)="getForm(1)" value="ADD NEW ITEM" class="btn btn-primary"></td>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>vendor Id</th>
        <th>Vendor Name</th>
        <th>Price Per Item</th>
        <th>Product Stock</th>
        <th>Product Tax</th>
        <th>Update Date</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inventory of Inventory" >
          <td>{{inventory.productId}}</td>
          <td>{{inventory.productName}}</td>
          <td>{{inventory.vendorId}}</td>
          <td>{{inventory.vendorName}}</td>
          <td>{{inventory.pricePerItem}}</td>
          <td>{{inventory.productStock}}</td>
          <td>{{inventory.productTax}}</td>
          <td>{{inventory.updateDate}}</td>
           <td><input type="button" (click)="getForm(2)" (click)="updateInventoryShowItem(inventory.productId)" value="Update" class="btn btn-warning"></td> 
          <td><input type="button" (click)="deleteInventoryItem(inventory.productId)"value="Delete" class="btn btn-danger"></td>
      </tr>
    </tbody>
  
  </table> 
  </div>
  </div>
  <!-- ------------------------------------------------------------------------- -->
  <div class="col-md-12" >
    <div *ngIf="isVisible==1" class="form">
    <h1>Please Fill The Details</h1>
    
    <div class="form-group">
      <label for="">Product Name</label>
      <input [(ngModel)]="productName" type="text" name="productName" class="form-control" required="required">
    </div>
  
  <div class="form-group">
      <label for="">Product Vendor ID</label>
      <input [(ngModel)]="vendorId" type="text" name="vendorId" class="form-control" required="required">
    </div>
  <div class="form-group">
      <label for="">Product Vendor Name</label>
      <input [(ngModel)]="vendorName" type="text" name="vendorName" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Price Per Item</label>
        <input [(ngModel)]="pricePerItem" type="text" name="pricePerItem" class="form-control">
      </div>
      <div class="form-group">
          <label for="">Product Stock</label>
          <input [(ngModel)]="productStock" type="text" name="productStock" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Product Tax</label>
            <input [(ngModel)]="productTax" type="text" name="productTax" class="form-control">
          </div>
          <div class="form-group">
              <label for="">Update Date</label>
              <input [(ngModel)]="updateDate" type="text" name="updateDate" class="form-control">
          </div>  
            <div class="form-group">
            <input (click)="addInventoryItem()" type="button" value="ADD ITEM" class="btn btn-success">
          </div>
    
  </div>  
  </div>
  <!--UPDATE ------------------------------------------------------------------------- -->
  
  <div class="col-md-12">
  <div *ngIf="isVisible==2" class="form">
    <h1>Please Fill The Details for UPDATAE</h1>
    <div class="form-group">
      <label for="">Product Name</label>
      <input [(ngModel)]="productName" type="text" name="productName" class="form-control">
    </div>
  
  <div class="form-group">
      <label for="">Product Vendor ID</label>
      <input [(ngModel)]="vendorId" type="text" name="vendorId" class="form-control">
    </div>
  <div class="form-group">
      <label for="">Product Vendor Name</label>
      <input [(ngModel)]="vendorName" type="text" name="vendorName" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Price Per Item</label>
        <input [(ngModel)]="pricePerItem" type="text" name="pricePerItem" class="form-control">
      </div>
      <div class="form-group">
          <label for="">Product Stock</label>
          <input [(ngModel)]="productStock" type="text" name="productStock" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Product Tax</label>
            <input [(ngModel)]="productTax" type="text" name="productTax" class="form-control">
          </div>
          <div class="form-group">
              <label for="">Update Date</label>
              <input [(ngModel)]="updateDate" type="text" name="updateDate" class="form-control">
            </div>
            <div class="form-group">
            <input (click)="updateInventoryItem()" type="button" value="UPDATE ITEM" class="btn btn-success">
          </div>
    
  </div>
  </div>