img{
    height: 20%;
    width: 20%;
}
.set
{
    background-color: blueviolet;
}
.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}
.center{
    text-align: center;
}
.option{
    margin: 10px;
    padding: 20px;
    background: darkgray;
}
a:hover {
    background-color: #ccc;
    text-decoration: none;
}
a div{
    color: white;
    text-decoration: none;
}
a div img{
    height: 40px;
} 