<!-- --------------------------------------------------------- -->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4 center option">
              <a routerLink="/showInventory" class="active" routerLinkActive="active">
                    <div>
                          <img src="../../assets/images/inventory.svg" />
                          Inventory Management
                    </div>
              </a>
  </div>
  <div class="col-md-4 center option">
        <a routerLink="/registerCustomer" routerLinkActive="active">
              <div>
                    <img src="../../assets/images/customer.svg" />
                    Register Customer
              </div>
        </a>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4 center option">
        <a routerLink="/searchCustomer" routerLinkActive="active">
              <div>
                    <img src="../../assets/images/shopping-cart.svg" />
                    Search Customer/Purchase More Item
              </div>
        </a>
  </div>
  <div class="col-md-4 center option">
        <a routerLink="/showCustomers" routerLinkActive="active">
              <div>
                    <img src="../../assets/images/employee.svg" />
                    show All Customer
              </div>
        </a>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4 center option">
        <a routerLink="/feedback" routerLinkActive="active">
              <div>
                    <img src="../../assets/images/purchase.svg" />
                    Purchase Details
              </div>
        </a>
  </div>
  <div class="col-md-4 center option">
        <a routerLink="/feedback" routerLinkActive="active">
              <div>
                    <img src="../../assets/images/sell.svg" />
                    Sells Details
              </div>
        </a>
  </div>
  <div class="col-md-2"></div>
</div>