<div class="container">
  <h1>Movies</h1>

  <table class="table table-striped" style="margin-top: 30px;">
    <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Directors</th>
        <th>Writers</th>
        <th>Genre</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{movie.title}}</td>
        <td>{{movie.year}}</td>
        <td>{{movie.directors}}</td>
        <td>{{movie.writers}}</td>
        <td>{{movie.genre}}</td>
        <td>
          <button (click)="onDetails(movie)" class="btn btn-success"><i class="glyphicon glyphicon-info-sign"></i></button>
          <button (click)="onDelete(movie)" class="btn btn-danger" style="margin-left: 10px"><i class="glyphicon glyphicon-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
