<h1>List Of All Employees</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Employee Id</th>
      <th>Password</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Designation</th>
      <th>Address</th>
      <th>UID</th>
      <th>EmailId</th>
      <th>Mobile No.</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of Employees" >
      <td>{{employee.employeeId}}</td>
      <td>{{employee.password}}</td>
      <td>{{employee.empFirstName}}</td>
      <td>{{employee.empLastName}}</td>
      <td>{{employee.role}}</td>
      <td>{{employee.address}}</td>
      <td>{{employee.empUID}}</td>
      <td>{{employee.emailId}}</td>
      <td>{{employee.mobileNo}}</td>
      <td>
        <button (click)="onDetails(employee)" class="btn btn-success"><i class="glyphicon glyphicon-info-sign"></i></button>
        <button (click)="onDelete(employee)" class="btn btn-danger" style="margin-left: 10px"><i class="glyphicon glyphicon-trash"></i></button>
        <button (click)="onUpdate(employee)" class="btn btn-warning" style="margin-left: 10px"><i class="glyphicon glyphicon-edit"></i></button>
    </tr>
  </tbody>
</table>