<!-- <carousel>
    <slide>
      <img src="../../assets/images/about-us.jpg" alt="first slide" style="display: block; width: 100%; height:500px;">
    </slide>
  </carousel>
  <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
  <div class="jumbotron">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
                <h1 class="display-4" style="text-align: center;font-family: 'Chewy', cursive">Hello, world!</h1>
                <hr class="my-4">
                <p class="text-justify">
                    Ah, stationery! The one item that every kid/teen simply loves indulging in in school. That much coveted pencil box, that fashionable pencil, that perfect gel ink pen; give a kid a cool stationery and you have upped his/her cool quotient to level max!
                    On schoolkart.com there are numerous kinds of stationery products available. From pens, to colour pencils, from compass boxes to crayons, from tape dispenser to zipper pouches.. yes, we have all of them in our e-commerce store. If folders it is that you want so that your child can properly file the worksheets or art/crafts products to give wings to the creativity of your child, all you need is to log onto schoolkart.com
                    The brands available on schoolkart.com, in the stationery segment, include Camlin, Classmate, Luxor, Faber Castell & Saya among others.
                    So what are you waiting for?. Simply log onto schoolkart.com to shop.
                </p>
        </div>
        <div class="col-md-3"></div>
    </div>
  </div> -->